* {
    margin: 0;
    padding: 0;

}

.code {
    background-color: #282828;
    font-size: 1.2rem;
    text-align: center;
    color: #f8f8f2;
    height: 40px;
    align-items: center;
}

.container {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 12px;
}

.main-container {
    display: flex;
    gap: 50px;
}

.map {
    height: 600px;
    width: 800px;
    flex: 1;
    background-color: black;
    position: relative;
    overflow: hidden;
}

.map full-screen {
    /* set the size of the map when in full-screen mode */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.editor {
    height: 600px;
    width: 400px;
    flex: 0.5;

    position: relative;
    overflow: hidden;
}

.status-container {
    max-width: 1440px;
    max-width: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.player1, .player2 {
    width: 500px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #666;
}

.roundTime {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    width: 100px;
}

.submit-code {
    position: relative;
    background-color: #f39c12;
    border: none;
    padding: 8px 10px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.boom {
    /*set icon to white color*/
    color: #f2f2f2;
    /*set icon size*/
    font-size: 30px;
    /*set icon position on the right of div*/
    position: absolute;
    right: 15px;
    top: 15px;

}

.boom svg:hover {
    box-shadow: #e5d772;
}